@import "tailwindcss";
@plugin "daisyui";
* {
  line-height: 1.5;
  font-weight: 500;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a{
  cursor: pointer;
  text-decoration:underline;
  padding: 0.2em;
}
a.link{
  color: white;
}